.popupTitle {
    font-weight: 600;
    font-size: 50px;
    line-height: 149%;
    color: var(--color-white);
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
.input {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 20px;
    line-height: 123%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    padding: 11px 5px 11px;
}
.consultationContainer {
    display: grid;
    grid-template-columns: minmax(250px, 380px);
    position: relative;
}

.containerCheckbox {
    display: flex;
    margin: 45px 0 89px 0;
    gap: 23px;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 108px 32px 0 90px;
}
.spanError {
    color: rgb(248, 78, 78);
}
@media screen and (max-width: 1600px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
        padding: 42px 14px 0 14px;
    }
}

.checkbox {
    display: none;
}
.checkbox + .containerSpan {
    position: relative;
    padding-left: 30px;
    height: 1.5em;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 0.04em;
    color: #fff;
    width: 342px;
    cursor: pointer;
    user-select: none;
    padding: 5px 0 0 53px;
}
.checkbox + .containerSpan::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease-in-out;
}

.checkbox:checked + .containerSpan::before {
    background-color: #5c9fef;
    box-shadow: 0px 0px 20px 7px;
    transition: all 0.5s ease-in-out;
}
.closeMenu {
    border: none;
    background: none;
    background-image: url('../../images/CloseBtnX.svg');
    background-repeat: no-repeat;
    width: 31px;
    height: 30px;
    background-size: 31px 30px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 44px;
}
@media screen and (max-width: 1460px) {
    .popupTitle {
        font-weight: 600;
        font-size: 30px;
        line-height: 149%;
        color: var(--color-white);
    }
}
@media screen and (max-width: 700px) {
    .input {
        margin-bottom: 10px;
    }
}
